<% content_for :title, "Posts" %>
<p style="color: green"><%= notice %></p>
<h1 class="my-2 text-2xl">Posts</h1>
<div id="posts" class="my-2">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

  <%= link_to "New post", new_post_path, class: "bg-blue-500 text-white px-4 py-2 rounded-md" %>